@page
@model AdminSite.Pages.AboutUsModel
@{
    ViewData["Title"] = "Om Os - SFFP";
}

<div class="header">
    <h1>Om Super Fun Fun Park</h1>
</div>
<hr />

<div class="mainContainer">
    @* Maintenance Box in the left side *@
    <div class="leftBox">
        <a class="leftBoxBigtext">Velkommen</a>
        <hr class="leftBoxHR" />
        <p class="leftBoxText">
            @Model.GetDanish1()
        </p>
    </div>

    @* News Box in the middle *@
     <div class="middleBox">
        <a class="middleBoxBigtext">Sikkerhed</a>
        <hr class="middleBoxHR" />
        <p class="middleBoxText">
            @Model.GetDanish2()
        </p>
    </div>

    @* Open or Closed Box in the right side *@
    <div class="rightBox">
        <a class="rightBoxBigtext">HYG DIG!</a>
        <hr class="rightBoxHR" />
        <p class="rightBoxText">
            @Model.GetDanish3()
        </p>
    </div>
</div>

