@page
@model AdminSite.Pages.FacilityAddNewModel
@{
    ViewData["Title"] = "Admin Panel - Add Facility";
}
<div class="header">
    <h1>Add New Facility</h1>
</div>
<hr />

<form method="post">

    <div class="form-group">
        <label for="Facility Name">New Facility Name</label>
        <input type="text" class="form-control" asp-for="NewName" />
    </div>

    <div class="form-group">
        <label for="Facility Pic URL">New Facility Pic URL</label>
        <input type="FacilityPicURL" class="form-control" asp-for="NewURL" />
    </div>

    <div class="form-group">
        <label for="Next Maintenance Date">New Maintenance Date</label>
        <input type="NextMaintenance Date" class="form-control" asp-for="NewDate" />
    </div>

    <button type="submit" asp-page-handler="SaveChanges">Save changes</button>
    <button type="submit" asp-page-handler="Cancel">Cancel</button>
</form>



