@page
@model AdminSite.Pages.PersonDeleteModel
@{
    ViewData["Title"] = "Admin Panel - Delete Staff";
}

<div class="header">
    <h1>Delete</h1>
</div>
<hr />

@if(Model.PersonToDelete != null)
{
  

    <form method="post">
         <input type="hidden" asp-for="SelectedEmail" />
        <p>You are about to delete the following user:</p>
        <p>ID: @Model.PersonToDelete.PersonID</p>
        <p>Name: @Model.PersonToDelete.PersonName</p>
        <p>Email: @Model.PersonToDelete.Email</p>

        <button type="submit" asp-page-handler="DeletePerson">Confirm</button>
        <button type="submit" asp-page-handler="Cancel">Cancel</button>
    </form>
}

else
{
<p>No user found with the provided email.</p>
}
