@page
@model AdminSite.Pages.LoginModel
@{
    ViewData["Title"] = "Login - SFFP";
}

<div class="mainContainer">
    <h1></h1>
</div>
<hr />

<body class="bg">
    <div class="register-container">
        <div class="register-form">
            <div class="register-title">Register</div>
            <input class="register-input" type="text" placeholder="Email">
            <input class="register-input" type="text" placeholder="Fulde navn">
            <input class="register-input" type="password" placeholder="Password">
            <button class="register-button">Register</button>
        </div>
    </div>
</body>
